<!DOCTYPE html>
<html>
	<head>
		<link href='/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/png" href="/images/favicon.png">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:800,700,600,400,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="Chicago 1 is a short feed of weather updates, transit delays, large events and other things in Chicago that slow you down.">
		<meta name="keywords" content="chicago, chicago news, chicago information, chicago weather, chicago transit, chicago events, chicago sports, chicago delays">
		<title>Chicago 1 - 404</title>

		<style>

			html, body {
				margin: 0;
				overflow: hidden;
				font-family: Open Sans, sans-serif;

			}

			.wrapper {
		
			
			}

			.msg {
				text-align: center;
				position: absolute;
				margin:auto;
				height:20px;
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				z-index: 20;
				color: #777;
				font-weight: 300;
			}

			.bg-image img {

			}


			.c1 {
				position: absolute;
				right: 0px;
				left: 0px;
				margin: auto;
				bottom: 20px;
				color: #777;
				font-weight: 400;
				width: 73px;
				font-size: 14px;
				text-transform: uppercase;
				font-family: Roboto Slab;
			}

			.c1 a:link, .c1 a:active, .c1 a:hover, .c1 a:visited {
				text-decoration: none;
				color: #777;
			}

		</style>


	</head>

	<body>

<div class="c1"><a href="/">chicago <span>1</span></a></div>

<div class="wrapper">
	<div class="msg">404. Error.</div>
	<!--
		<div class="bg-image"><img src="/images/404.jpg" /></div>
	-->
</div>



</body>
</html>