<div class="header">
	<h1><img src="/images/chicago1.svg" alt="CHICAGO 1" /></h1>
	<div class="current-weather"><div class="inner"><span style="font-weight:600"><%= obstacles.today.currentTime %></span> | <%= currentWeather %></div></div>
</div>