<ul class="footer">
	<li>About Chicago 1</li>
	<li><a href="mailto:ideas@chicago1.org">Send us your ideas</a></li>
	<li><a href="mailto:bugs@chicago1.org">Report a bug</a></li>
	<div class="c1built">Chicago 1 is built from a café in Andersonville</div>
	<div class="c1built-icons">
		<i class="icon-laptop"></i>
		<i class="icon-coffee"></i>
		<i class="icon-chicago-star"></i>
	</div>
	<div style="text-align:center;font-size:10px;margin-top:10px"><%= obstacles.today.currentTime %></div>
</ul>