<div class="footer">

	<div class="sources-text">
		<h3>Thanks to these institutions for providing data</h3>
		<p><a href="http://forecast.io" target="_blank">Forecast.io for weather</a></p>
		<p><a href="http://transitchicago.com/travel_information/systemalerts.aspx?source_quicklinks=1" target="_blank">CTA for transit</a></p>
		<p><a href="http://mlb.com" target="_blank">MLB for baseball games</a></p>
		<p><a href="https://developer.uber.com/" target="_blank">Uber for ride-share prices</a></p>
		<p><a href="http://www.travelmidwest.com" target="_blank">Gateway traffic information courtesy of the Illinois Department of Transportation</a></p>
	</div>

	<ul>
		<li><a href="mailto:ideas@chicago1.org">Send us your ideas</a></li>
		<li><a href="mailto:bugs@chicago1.org">Report a bug</a></li>
	</ul>
	<div class="c1built">Chicago 1 is built from a coffee shop in Andersonville</div>
	<div class="c1built-icons">
		<i class="icon-laptop"></i>
		<i class="icon-coffee"></i>
		<i class="icon-chicago-star"></i>
	</div>
</div>
<!--<div style="text-align:center;font-size:10px;margin-top:10px;position:absolute;bottom: 5px"><%= obstacles.today.currentTime %></div>-->