<div class="header">
	<h1><a href="/">chicago<span>1</span></a></h1>
	<div class="current-weather"><div class="inner"><span style="font-weight:600"><%= obstacles.today.currentTime %></span> | <%= currentWeather %></div></div>
</div>