html {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: Open Sans;
  font-weight: 300;
  color: #444;
  padding: 0 10px;
  height: 100%;
}

.content-wrapper {
  margin-bottom: -230px;
  min-height: 100%;
}

.header {
  padding: 0 0 10px 5px;
  width: 100%;
  max-width: 500px;
  display: block;
  position: relative;
  margin: 20px auto 20px;
  color: #757575;
  text-align: center;
}


h1 {
  font-family: Roboto Slab;
  font-weight: 100;
  padding: 0;
  margin: 0 0 5px;
  color: #222;
}

h1 span {
  font-size: 26px;
}

.current-weather {
  font-size: 13px;
  color: #777;
}

p {
  margin: 0.3em 0
}

b {
  font-weight: 400;
}

.all-clear {
  text-align: center;
  margin: 0 0 25px 0;
}

.all-clear i {
  font-size: 50px;
  color: green;
  margin: 0 0 10px;
}

.all-clear .title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
}

.all-clear .details {
  font-size: 16px;
  color: #666;
}

.updates {
  max-width: 400px;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: left;
  list-style: none;
  padding: 0;
}

.updates:after {
  content: "";
  background-color: #70a0dc;
  text-align: center;
  display: block;
  margin: 0 auto 30px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}



.updates > li {
    color: #666;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin: 10px 0;
    padding: 20px 25px;
    background-color: #f9f9f9;
    font-size: 14px;
    position: relative;
    box-shadow: 2px 2px 2px #d2d2d2
}

.updates > li:last-child {
  margin-bottom: 30px;
}


.updates .icon {
  //margin: 8px 0 0 0;
  color: #999;
  margin: 0 0 5px 0;
  position: absolute;
  top: 12px;
  right: 17px;
  font-size: 26px;
}


.updates > li .title {
  margin: 0 0 15px 0;
  font-size: 16px;
  font-weight: 600;
  max-width: 300px;
}

.updates > li .msg {
  /*border-top: 1px solid #eee;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;*/
  color: #888;
  font-weight:400;
  line-height: 22px;
}

.updates > li .title:before {
  font-size: 24px;
  }

.updates > li .more {
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 0 0 0;
  text-align: center;
}

.updates > li .more a {
  text-decoration: none;
  color: #8585ef;
}

.weather-alert .icon:before {
  content: "\f06a";
  font-family: FontAwesome;
  color: #E65252;
}

.rain .icon:before {
  content: "\f043";
  font-family: FontAwesome;
}

.cubs .icon:before {
  content: "C";
  font-weight: 800;
  /*content: "a";
  font-family: C1;*/
}


.sox .icon:before {
  content: "S";
  font-weight: 800;
  font-size: 20px;
  display: block;
}

.transit .icon:before {
    content: "b";
    font-family: C1;
}


.special .icon:before {
  background-image: url("http://img.relax.ru/88317/9506715671966128_4d299cc8.jpg");
    background-size: 10px 20px;
    display: inline-block;
    width: 10px; 
    height: 20px;
    content:"";
}

.blue-line .title:before {
  content: "Blue Line";
}

.red-line .title:before {
  content: "Red Line";
}

.cubs .icon {
  margin-top: 3px
}


.custom-update .icon:before {
    content: attr(data-icons);
    font-family: 'FontAwesome';
}

.next-days {
    max-width: 350px;
    width: 90%;
    display: block;
    margin: 10px auto 10px;
    padding: 20px 20px;
    border-radius: 4px;
    color: #555;
    border: 1px dashed #b7b6b6;
}


.next-days h2 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 7px;
    display: inline-block;
}

.next-days h2:before {
  content: attr(data-date-num);
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-top: 3px solid #999;
  width: 17px;
  height: 17px;
  margin: 0 5px 0 0;
  font-family: helvetica;
  font-size: 10px;
  text-align: center;
  color: #555;
  display: inline-block;
  position: relative;
  top: -2px;
  line-height: 15px;
}

.next-days ul {
    padding-left: 20px;
    font-size: 14px;
}

.next-days ul li {
  margin: 5px 0;
}


.push-footers {
  height: 230px;
}

.hide-button {
    display: block;
    margin: 50px auto 0;
    width: 80px;
    color: #94ACCC;
    text-align: center;
}

.hide-button .icon {
    display: block;
    margin: 0 auto;
}

.hide-button .icon:before {
  content: "\f05e";
  font-family: FontAwesome;
  font-size: 40px;
}


.hide-button .label:before {
  display: block;
  content: "Hide categories you don't need";
  font-size: 10px;
  line-height: 12px;
  margin: 5px auto;
}


.footer {
  font-family: Open Sans;
  width: 100%;
  margin: 150px 0 0px;
  border-top: 1px solid #eee;
  color: #cac7c7;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px 0;
  background: rgba(0,0,0,0.85);
}

.footer .about {
  width: 100%;
  max-width: 600px;
  font-size: 12px;
  display: block;
  margin: 0 auto;
  padding: 0 60px 0 15px;
  position: relative;
}

.footer .close-btn {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  /* height: 100%; */
  /* line-height: 10px; */
  height: 35px;
  background-color: #cccbcb;
  width: 35px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  color: #565656;
  font-weight: 700;
  cursor: pointer;
}

.footer .close-btn:before {
  content: "OK";
}


.modal {
  display: none;
}

.modal .background{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  top: 0px;
  left: 0px;
}

.modal .inner{
  color: #fff;
  position: fixed;
  left: 0px;
  right: 0px;
  width: 300px;
  height: 460px;
  background-color: #444;
  top: 0px;
  bottom: 0px;
  display:block;
  margin:auto;
  opacity: 1;
  border-radius: 5px;
  padding: 15px;
  overflow: auto;
}

@media (max-width: 420px) {
  .weather {
    top: 18px;
  }
}